html, body {
    height: 100%;
    margin: 0;
    background-color: #fff8de;
}

#splash-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4vw;
    font-family: "Roboto";
    color: #576a8f;
}

#waiting-bar {
    background-color: #576a8f;
    width: 50%;
    height: 10px;
}
