#splash-screen {
  height: 15%;
  width: 10%;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  text-align: center;
  flex-direction: column;
}
