html, body {
    height: 100%;
    margin: 0;
    background-color: #f5f0b3;
}

#splash-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4vw;
    font-family: "Amasis MT Pro";
    font-color: #464b66;
}
